body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('images/backgrounds/3dsXL.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    /*/display: flex;/*/
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(166, 177, 186);
    box-shadow: 20px;
    border: 1px, solid, #ccc, !important;
    border-style: double;
    border-radius: 5px;

    width: auto;
    height: 50px;
}

#cardsContainer {
    display: flex;
    margin-top: -215px;
    margin-left: 831px;
}

#flexbox_dsmnu{
    display: flex;
    margin-top:  155px;
    margin-left: 761px;
}

#sticker1{
    margin-top: 0px;
}
#sticker2{
    margin-left: 1500px;
    margin-top: -140px;
}

.GameSelector{
    width: 130px;
}