body{
    background-image: url(https://www.nintendo.com/eu/media/images/10_share_images/games_15/nintendo_ds_22/SI_NDS_InazumaEleven2_Blizzard_enGB_image1600w.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.button {
    font-size: 25px;
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #5fa0e4; 
    color: rgb(0, 0, 0); 
    text-align: center; 
    text-decoration: none; 
    border-radius: 7px;
    transition: background-color 0.3s; 
    border-style: solid;
    border-color: black;
}

.button:hover {
    background-color: #d4bb3f;
}

.container{
    text-align: center;
    margin-top: 50px;
}
