body{
    background-image: url(https://www.nintendo.com/eu/media/images/10_share_images/games_15/nintendo_ds_22/SI_NDS_InazumaEleven2_Blizzard_enGB_image1600w.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.button {
    float: center;
    text-align: center;
    color: black;
    border: 2px solid black;
    padding: 10px;
}

