
@font-face {
    font-family: bkfont;
    src: url("../assets/fonts/bkfont0.otf");
}

body{
    font-family: 'bkfont', sans-serif;
    background-image: url("../assets/images/BG_0.png");
    background-color: rgba(82, 82, 82, 0.4);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: 0px -500px;
    overflow: hidden;
}

.TopBorder{
    width: device-width;
    height: 150px;
    background-image: url("../assets/images/JiggyBG.png");
    background-color: #0400d9;
    background-blend-mode: overlay;
    border-radius: 1%;
    border-style: solid;
}

#Title{
    padding: 10px;
    color: #BB0000;
    font-size: 50px;
}

.Crklbutton{
    margin-top: 120px;
    width: 200px;
    height: 200px;
}

.backhome{
    width: 100px;
    height: 120px;
}

#textbox{
    width:850px;
    height: 720px;
    background-color: #cbcbcb6b;
    position: absolute;
    margin: 40px 100px;

    border-color: #747474;
    border-radius: 1%;
    border-style: solid;
}
#textboximg{
    width: 500px;
    height: 500px;
    margin: 40px 400px;
    border-color: #747474;
    border-radius: 1%;
    border-style: solid;
}

#overtxt{
    color: #ededed;
    margin-left: 5px;
    font-size: 23px;
}

.charimg{
    width: 850px;
    height: 820px;
    object-fit: cover;
    padding: 0px;
    margin: 40px -200px;

    border-color: #747474;
    border-radius: 1%;
    border-style: solid;
}
.chartext{
    width: 400px;
    height: 720px;
    background-color: #cbcbcb6b;
    padding: 0px;
    margin: 40px 280px;

    border-color: #747474;
    border-radius: 1%;
    border-style: solid;
}

.infotxt{
    color: #ededed;
    margin-left: 5px;
    font-size: 23px;
}

#pijlL{
    width: 200px;
    height: 200px;
    position: absolute;
    margin: 350px 0px;
}
#pijlR{
    width: 200px;
    height: 200px;
    position: absolute;
    margin: 350px 1690px;
}

.chpage{
    min-width: 100%;
    display: flex;
    box-sizing: border-box;
}
.pages{
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

#video1{
    margin: 30px 200px;
}