body{
    background-image: url("../assets/images/BG_0.png");
    background-color: rgba(82, 82, 82, 0.4);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: 0px -500px;
    overflow: hidden;
}

.TopBorder{
    width: device-width;
    height: 150px;
    background-image: url("../assets/images/JiggyBG.png");
    background-color: #0400d9;
    background-blend-mode: overlay;
    border-radius: 1%;
    border-style: solid;
}

#Title{
    padding: 50px;
}

.Crklbutton{
    margin-top: 120px;
    width: 200px;
    height: 200px;
}

.backhome{
    width: 100px;
    height: 120px;
}

#textbox{
    width: 850px;
    height: 820px;
    background-color: #cbcbcb6b;
    position: absolute;
    margin: 30px 300px;
    border-color: #747474;
    border-radius: 1%;
    border-style: solid;
}
#textboximg{
    width: 500px;
    height: 500px;
    margin: 40px 270px;
    border-color: #747474;
    border-radius: 50%;
    border-style: solid;
}

#charimg{
    width: 850px;
    height: 820px;
    margin: 40px 370px;
    border-color: #747474;
    border-radius: 1%;
    border-style: solid;
}
#chartext{
    width: 400px;
    height: 820px;
    background-color: #cbcbcb6b;
    position:absolute;
    margin: 40px 350px;
    border-color: #747474;
    border-radius: 1%;
    border-style: solid;
}

#pijlL{
    width: 200px;
    height: 200px;
    position: absolute;
    margin: 350px 0px;
}
#pijlR{
    width: 200px;
    height: 200px;
    position: absolute;
    margin: 350px 1820px;
}

.chpage{
    width: 100%;
    display: flex;
    align-items: center;
}
.pages{
    display: flex;
    width: 400%;
    box-sizing: border-box;
}