body {
    background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExOXQ4eW93YjR1ejdnem9sOWZ5a2ZzM2syNGNzcXF3YnN1dWtuZG5weiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/XRvqZ66pUclQHcb58O/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    align-self: center;
    justify-content: center;
}

img{
    max-width: 300px;
    height: auto;
    align-self: center;
    justify-content: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: orange;
}

div{
    background-color: rgba(0, 0, 0, 0.49);
    background-size: auto;
    border: 2px solid rgba(0, 110, 255, 0.49);
    border-radius: 5px;
    size: 30%;
    width: 30%;
    align-self: center;
    justify-content: center;
}

h1 {
    background: linear-gradient(90deg, blue, orange);
    -webkit-text-fill-color: transparent;
    transition: transform 0.9s ease-in-out, background 0.9s ease-in-out; 
}

h1:hover {
    transform: scale(1.1) rotate(5deg);
    background: linear-gradient(90deg, orange, blue);
    -webkit-text-fill-color: transparent;
}

.button {
    padding: 10px 20px;
    background-color: rgba(0, 110, 255, 0.49);
    color: rgb(255, 140, 0);
    border: 2px solid orange;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
    margin-top: 20px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255, 166, 0, 0.611);
    color: rgba(0, 110, 255, 0.49);
    border-color: rgba(0, 110, 255, 0.49);
}

.fly-up {
    transform: translateY(-100px);
    transition: transform 0.5s ease-in-out;
}